{% extends "base/base.html" %}
{% block title %}Blog{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        {% if not posts %}
            <h1 class="title">No posts found</h1>
            <p class="subtitle has-text-grey-light">Watch this space!</p>
        {% else %}
            {% include "fragments/paginator.html" with page=posts only %}
            <br />

            {% for post in posts %}
                <h2 class="title">
                    <a href="{% url "blog.post" slug=post.slug %}">{{ post.title }}</a>
                </h2>

                <p class="subtitle">
                    {{ post.pub_date | date:"jS E, Y" }}
                    <a class="is-pulled-right" href="" title="Category: {{ post.category }}">
                        <span class="icon"><i class="fal fa-tag"></i></span>
                        {{ post.category }}
                    </a>
                </p>

                <article class="content">
                    {{ post.html | safe }}
                </article>

                {% if not forloop.last and posts.count %}
                    <div class="is-divider"></div>
                {% endif %}
            {% endfor %}

            <br />
            {% include "fragments/paginator.html" with page=posts only %}
        {% endif %}
    </div>
</section>
{% endblock %}
