{% extends "base/base.html" %}
{% block title %}Blog | Posts{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        {% if not posts %}
            <h1 class="title">No posts found</h1>
            <p class="subtitle has-text-grey-light">Watch this space!</p>
        {% else %}
            {% if category %}
                <h1 class="title">
                    Category: {{ category.name }}
                </h1>
                <p class="subtitle has-text-grey-light">
                    <span class="icon"><i class="fal fa-list"></i></span>
                    &nbsp; {{ category.post_count }} post{{ category.post_count|pluralize }}
                </p>
            {% else %}
                <h1 class="title">
                    All posts
                </h1>
                <p class="subtitle has-text-grey-light">
                    <span class="icon"><i class="fal fa-list"></i></span>
                    &nbsp; {{ post_count }} post{{ post_count|pluralize }}
                </p>
            {% endif %}

            {% include "fragments/paginator.html" with page=posts only %}
            <br />

            {% for post in posts %}
                <h2 class="title">
                    <a href="{% url "blog.post" slug=post.slug %}">{{ post.title }}</a>
                </h2>

                <p class="subtitle">
                    {{ post.pub_date | date:"jS E, Y" }}
                    <a class="is-pulled-right" href="{% url "blog.category" slug=post.category.slug page=1 %}" title="Category: {{ post.category }}">
                        <span class="icon"><i class="fal fa-tag"></i></span>
                        {{ post.category }}
                    </a>
                </p>

                <article class="content">
                    {{ post.html | safe }}
                </article>

                {% if not forloop.last and posts.count %}
                    <div class="is-divider"></div>
                {% endif %}
            {% endfor %}

            <br />
            {% include "fragments/paginator.html" with page=posts only %}
        {% endif %}
    </div>
</section>
{% endblock %}
