{% load django_simple_bulma %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% bulma %}
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev"
          crossorigin="anonymous"
    >
</head>
<body>
{% include "base/navbar.html" with icon_weight="fal" dropdowns=True %}
{% block content %}{% endblock %}
</body>
</html>
