{% extends "base/base.html" %}
{% block title %}Setup{% endblock %}

{% load crispy_forms_tags %}

{% block head %}
    <style>
    .asterisk {
        display: none;
    }
    </style>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">

            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="content has-text-centered">
                            <h1 class="title">
                                Setup
                            </h1>
                            <p class="subtitle has-text-grey-light is-centered"> Let's get this party started</p>

                            {% crispy setup_form %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">

            </div>
        </div>
    </div>
</section>
{% endblock %}
